
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel='stylesheet' href="/css/style1.css">
        <title>Admin Dashboard</title>
    </head>
    <body>
        <div class="admin-dashboard">
            <header>
                <%- include('../partials/adminNav') %>
            </header>
            <h1>Dahboard</h1>
        </div>
    </body>
</html>