<div class='footer'>
    <p>Destinations +</p>
    <hr
        style="width: 90%; height: .2px; border: none; background-color: #606060;">
    <div class='destination_box'>
        <div class='destination_box1'>
            <ul class='flex-list'>
                <div style='width: 35rem;'>
                    <li>Airline & Frequent Flyer Partners</li>
                    <li>Sunshine Magazine</li>
                    <li>J Wellness Circle</li>
                    <li>Site Map</li>
                    <li>Terms Of Use</li>
                    <li>Contact Us</li>
                </div>
                <div style='width: 15rem;'>
                    <li>Accessibility</li>
                    <li>Languages</li>
                    <li>Privacy Policy</li>
                    <li>Press Room</li>
                    <li>Careers</li>
                    <li>Blogs</li>
                </div>
                <div style='width: 26rem;'>
                    <li>SAATHI</li>
                    <li>NIDHI</li>
                    <li>UTSAV</li>
                    <li>INCREDIBLE INDIA FILM</li>
                </div>
            </ul>
        </div>
        <div class='destination_box2'>
            <ul>
                <li>Join our newsletter</li>
                <li><button class='button'><a
                            href='/our_newsletter'>SUBSCRIBE</a></button></li>
                <br>
                <li>Connect with us:</li>
                <li>
                    <div class='contact'>
                        <a class='con_icons' href='#'>
                            <i
                                class="fa-brands fa-facebook-f"></i></a>
                        <a class='con_icons' href='#'>
                            <i
                                class="fa-brands fa-instagram"></i></a>
                        <a class='con_icons' href='#'>
                            <i
                                class="fa-brands fa-x-twitter"></i></a>
                        <a class='con_icons' href='#'>
                            <i class="fa-brands fa-youtube"></i></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class='f-brand'>
        <div class='hotel'>
            <img src='/brand_logo.png' width=90px height=37px>
            <p> The Indian Hotels Company Limited.</p>
        </div>
        <hr
            style="width: 90%; height: .2px; border: none; background-color: #606060;">

    </div>
</div>