<nav>
    <div class="navbar" id="mynavbar">
        <a href="/" class="logo">
            <img src="/logo (2).png" height="56px" width="80px" alt="Golden View Logo">
        </a>
        <span class="icons menu">&#9776;</span>
        <span class="icons close">&#10006;</span>
        <div class="navbar-collapse" id="navbarCollapse">
            <a href="/hotels">Our Hotels</a>
            <a href="/booking">Manage Booking</a>
            <a href="/awards">About</a>
            <a href="/contact" class="right">Contact Us</a>
            <!-- Sign In / Logout link will be injected here -->
        </div>
    </div>
</nav>
