<html>
    <head>
        <title>About</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href="/css/style4.css">
        <link rel='stylesheet' href="/css/style1.css">

        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!--for font awesome icons-->

    </head>
    <body id='content'>
        <div id='container'>
            <!-- <nav>
                <div class="navbar" id='mynavbar'>
                    <a href='/' class='logo'><img src='/logo (2).png'
                            height='56px' width='80px'></a>
                    <span class='icons menu'
                        onclick="myfunction()">&#9776;</span> -->
                    <!--HTML icons code for dropdown for designing responsive web page-->
                    <!-- <span class='icons close'
                        onclick="myfunction()">&#10006;</span>
                    <div class="navbar-collapse">
                        <a href="/hotels">Our Hotels</a>
                        <a href="/booking">Manage Booking</a>
                        <a href="/menu">Menu</a>
                        <a href='/awards'>About</a> -->
                        
                        <!--change to Awards section see Oberoi hotel-->
                        <!-- <a href='/contact'
                            class="right">Contact Us</a>
                        <a href="/login" class="right">Sign In</a> -->
                    <!-- </div>
                </div>
            </nav> -->

            <%- include('partials/navbar') %>


            <div class='container1'></div>

            <div class='container2'>
                <a href='/' class='logo'><img src='/namaste2.jpg'
                        height='120px' width='195px'></a> <p
                    class='heading'><i>About Golden View Hotel</i></p>
                    <a href='/' class='logo'><img src='/logo (2).png'
                        height='170px' width='220px'></a>
                    <hr>
                <!-- <div class='flex'> -->

                    <p>The Golden View Hotel & Restaurant is a luxurious
                        destination known for its breathtaking views,
                        whether of a serene beach,
                        majestic mountains, or a vibrant cityscape. The
                        hotel exudes warmth and elegance, with interiors
                        designed to offer comfort
                        and sophistication. The on-site restaurant is a key
                        highlight, offering gourmet meals made from fresh,
                        high-quality ingredients,
                        all served with a stunning backdrop. This venue
                        appeals to both leisure and business travelers
                        seeking a memorable stay with
                        exceptional service. With amenities like a spa,
                        fitness center, and event spaces,
                        the Golden View Hotel & Restaurant promises a
                        perfect blend of relaxation, luxury, and fine
                        dining.</p>

                        
        

                </div>

                
                <div class='footer'>
                    <p>Destinations +</p>
                    <hr
                        style="width: 90%; height: .2px; border: none; background-color: #606060;">
                    <div class='destination_box'>
                        <div class='destination_box1'>
                            <ul class='flex-list'>
                                <div style='width: 35rem;'>
                                    <li>Airline & Frequent Flyer
                                        Partners</li>
                                    <li>Taj Magazine</li>
                                    <li>J Wellness Circle</li>
                                    <li>Site Map</li>
                                    <li>Terms Of Use</li>
                                    <li>Contact Us</li>
                                </div>
                                <div style='width: 15rem;'>
                                    <li>Accessibility</li>
                                    <li>Languages</li>
                                    <li>Privacy Policy</li>
                                    <li>Press Room</li>
                                    <li>Careers</li>
                                    <li>Blogs</li>
                                </div>
                                <div style='width: 26rem;'>
                                    <li>SAATHI</li>
                                    <li>NIDHI</li>
                                    <li>UTSAV</li>
                                    <li>INCREDIBLE INDIA FILM</li>
                                </div>
                            </ul>
                        </div>
                        <div class='destination_box2'>
                            <ul>
                                <li>Join our newsletter</li>
                                <li><button class='button'><a
                                            href='/our_newsletter'>SUBSCRIBE</a></button></li>
                                <br>
                                <li>Connect with us:</li>
                                <li>
                                    <div class='contact'>
                                        <a class='con_icons' href='#'>
                                            <i
                                                class="fa-brands fa-facebook-f"></i></a>
                                        <a class='con_icons' href='#'>
                                            <i
                                                class="fa-brands fa-instagram"></i></a>
                                        <a class='con_icons' href='#'>
                                            <i
                                                class="fa-brands fa-x-twitter"></i></a>
                                        <a class='con_icons' href='#'>
                                            <i
                                                class="fa-brands fa-youtube"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p>Loyalty Programs +</p>
                    <hr
                        style="width: 90%; height: .2px; border: none; background-color: #606060;">
                    <div class='f-brand'>
                        <div class='hotel'>
                            <img src='/brand_logo.png' width=90px
                                height=37px>
                            <p> The Indian Hotels Company Limited.</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <script src="/js/navbar.js"></script>

    </body>
    <script type='text/javascript' src="/js/script_awards.js"></script>
    <!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/66e9241650c10f7a00abb45f/1i7vb9uu3';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
</html>