<html>
    <head>
        <title>Reservations</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet'
            href="/css/style5.css">

    </head>
    <body>

        <div class='content'></div>
        <div class='container'>

            <div class='nav'>
                <a href="/" class="logo">
                    <img src="/logo (2).png" width="85" height="65"
                        alt="Hotel Golden View">

                </a></div>
            <div class='reserve_form'>
                <h1>Find Your Reservations</h1>
                <div class='box'>
                    <div class='inner_box'>
                        <p>With Confirmation # Or Itinerary #</p>
                        <form action="/welcome">
                            <input type='text' name='username'
                                placeholder="Confirmation or itinerary number"
                                required><br>
                            <input type='email' name='password'
                                placeholder="Email Address" required><br>
                            <input type='submit' value='FIND RESERVATION'
                                class='submit'>
                        </form>
                    </div>
                    <p class='info'><b>Don't know your confirmation #?</b><br>
                        Your confirmation # was included in an email sent at the
                        time of booking. Please check your email to recover the
                        number.
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>