<html>
    <head>
        <title>Reservations</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet'
            href="/css/style5.css">
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/66e9241650c10f7a00abb45f/1i7vb9uu3';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
        <!--End of Tawk.to Script-->
    </head>
    <body>

        <div class='content'></div>
        <div class='container'>
            <div class='nav'>
                <img src='/brand_logo.png' width=82px
                    height=30px></div>
            <div class='reserve_form'>
                <h1>Find Your Reservations</h1>
                <div class='box'>
                    <div class='inner_box'>
                        <p>With Confirmation # Or Itinerary #</p>
                        <form action="/welcome">
                            <input type='text' name='username'
                                placeholder="Confirmation or itinerary number"
                                required><br>
                            <input type='email' name='password'
                                placeholder="Email Address" required><br>
                            <input type='submit' value='FIND RESERVATION'
                                class='submit'>
                        </form>
                    </div>
                    <p class='info'><b>Don't know your confirmation #?</b><br>
                        Your confirmation # was included in an email sent at the
                        time of booking. Please check your email to recover the
                        number.
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>