<html>
    <head>
        <title>Contact</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet'
            href="/css/style3.css">
        <link rel='stylesheet' href="/css/swiper-bundle.min.css">
        <link rel='stylesheet' href="/css/style.css">
        <link rel='stylesheet' href="/css/style1.css">
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/66e9241650c10f7a00abb45f/1i7vb9uu3';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
        <!--End of Tawk.to Script-->

    </head>
    <body>
        <div id='container'>

            <%- include('partials/navbar') %>

            <div class='content'></div>
            <div class='box'>
                <div class='login_form'>
                    <h1>Welcome to Golden View </h1>
                    <!-- <p> Thank
                        You!</p> -->
                    <p><i> nigamsuryansh921@gmail.com</i> </p>
                    <form action="/confirmation_page">
                        <input type='text' name='username'
                            placeholder="Name"
                            required><br>

                        <input type='text' name='username'
                            placeholder="Contact"
                            required><br>

                        <input type='text' name='E-mail'
                            placeholder="E-mail"
                            required><br>

                        <input type='string' name='Name'
                            placeholder="Query" required><br>

                        <!-- <input type='checkbox' class="checkbox"><span
                            id=text>Remember Me</span><br> -->
                        <input type='submit' value='Submit' class='submit'>

                    </form>
                </div>
                <div class='display'>
                    <img src='/reservation.jpg'>
                </div>
            </div>
        </div>
        <script src="/js/navbar.js"></script>

    </body>
</html>