<html>
    <head>
        <title>Hotels Golden View </title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href="/css/style1.css">
        <link rel='stylesheet' href="/css/style2.css">

        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!--for font awesome icons-->

        <link rel="stylesheet"
            href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
            integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
            crossorigin />

        <!-- MarkerCluster CSS file -->
        <link rel='stylesheet' href="/css/MarkerCluster.css">
        <link rel='stylesheet' href="/css/MarkerCluster.Default.css">
    </head>
    <body id='content'>
        <div id='container'>
           

            <%- include('partials/navbar') %>

            <div class='container1'>
                <div class='flex'>
                    <h2> Golden View Hotels Destinations</h2>
                    <div class='inner_container'>
                        <div class='box box1'>
                            <img src='/place1.jpg' alt='agra'>
                            <div class='text' onclick='zoomToCity("Agra")'>
                                <h3>Agra</h3>

                            </div>
                        </div>
                        <div class='box box1'>
                            <img src='/place2.jpg' alt='agra'>
                            <div class='text' onclick='zoomToCity("Lucknow")'>
                                <h3>Lucknow</h3>

                            </div>
                        </div>
                        
                        <!-- <div class='box box1'>
                            <img src='/place4.jpg' alt='agra'>
                            <div class='text' onclick='zoomToCity("Gurgaon")'>
                                <h3>Gurgaon</h3>

                            </div>
                        </div>
                         -->

                        <!-- <div class='box box1'>
                            <img src='/place31.jpg' alt='agra'>
                            <div class='text' onclick='zoomToCity("Gwalior")'>
                                <h3>Gwalior</h3>

                            </div>
                        </div> -->

                        <div class='box box1'>
                            <img src='/place24.webp' alt='agra'>
                            <div class='text' onclick='zoomToCity("Varanasi")'>
                                <h3>Varanasi</h3>

                            </div>
                        </div>

                    </div>
                </div>
                <div id="map"></div>
            </div>

        </body>
        <!-- geojson data -->
        <script type='text/javascript' src="/js/data.js"></script>


                        <hr
                            style="width: 90%; height: .2px; border: none; background-color: #606060;">
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/navbar.js"></script>
    </body>
    <!-- geojson data -->
    <script type='text/javascript' src="/js/data.js"></script>

    <script type='text/javascript' src="/js/script_hotel.js"></script>
    <!--Start of Tawk.to Script-->
    <!-- <script type="text/javascript"> -->

        <script type='text/javascript' src="/js/script_hotel.js"></script>
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">

    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/66e9241650c10f7a00abb45f/1i7vb9uu3';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
        <!--End of Tawk.to Script-->

        <!-- Leaflet JS -->
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin> 
    </script>

        <!-- MarkerCluster JS file -->
        <script src="/js/leaflet.markercluster.js"></script>

        <script>
        //Map Initialization
var map = L.map('map').setView([0, 0], 2);

//OpenStreetMap Layer
L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

//Tile-layer
googleStreets = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}',{
    maxZoom: 20,
    subdomains:['mt0','mt1','mt2','mt3']
});

googleStreets.addTo(map);

//Marker
var myIcon = L.icon({
    iconUrl: "/map_marker1.png",
    iconSize: [40, 40],
    iconAnchor: [19,42],
    popupAnchor: [2, -20]
    
});



const geoMarker = {
    radius : 8,
    fillColor : '#ff7800',
    color : '#000',
    weight : 1,
    opacity : 1,
    fillOpacity : 0.8
};

    
// loading geojson data 
const lightData = L.geoJSON(data, {
    onEachFeature : function(feature, layer){
        let popupContent = feature.properties.Name;
        layer.bindPopup(popupContent);
    },
    pointToLayer : function(feature, latlng){
        return L.marker(latlng, {icon: myIcon});
    }
})

// Marker Clustering
const markers = L.markerClusterGroup().addLayer(lightData);
map.addLayer(markers);

//let linkContent = feature.properties.City;
function zoomToCity(city){
    let cityFeature = lightData.getLayers().find(layer => layer.feature.properties.City === city);
    console.log(cityFeature)
    let myVar = cityFeature._latlng;
    console.log(cityFeature)
    map.flyTo([myVar.lat, myVar.lng], 11);
}
    </script>
            <%- include('partials/footer') %>


        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/673c3b6a4304e3196ae4df09/1id1kg74t';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
        <!--End of Tawk.to Script-->
    </html>