<html>
    <head>
        <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet'
            href="/css/style3.css">
        <link rel='stylesheet' href="/css/swiper-bundle.min.css">
        <link rel='stylesheet' href="/css/style.css">
        <link rel='stylesheet' href="/css/style1.css">
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/66e9241650c10f7a00abb45f/1i7vb9uu3';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
        <!--End of Tawk.to Script-->

    </head>
    <body>
        <div id='container'>
            <nav>
                <div class="navbar" id='mynavbar'>
                    <a href='/' class='logo'><img src='/logo (2).png'
                            height='56px' width='80px'></a>
                    <span class='icons menu'>&#9776;</span>

                    <span class='icons close'>&#10006;</span>
                    <div class="navbar-collapse">
                        <a href="/hotels">Our Hotels</a>
                        <a href="/booking">Manage Booking</a>
                        <a href="/awards">About</a>
                        <a href="/contact"
                            class="right">Contact Us</a>
                        <a href="/login" class="right">Sign In</a>
                    </div>
                </div>
            </nav>

            <div class='content'></div>
            <div class='box'>
                <div class='login_form'>
                    <h1>Welcome to Golden View </h1>
                    <p>Login page only for administrative purpose. Thank
                        You!</p>
                    <form action="/welcome">
                        <input type='text' name='username'
                            placeholder="Username"
                            required><br>
                        <input type='password' name='password'
                            placeholder="Password" required><br>
                        <input type='checkbox' class="checkbox"><span
                            id=text>Remember Me</span><br>
                        <input type='submit' value='Sign In' class='submit'>
                    </form>
                </div>
                <div class='display'>
                    <img src='/login3.jpeg'>
                </div>
            </div>
        </div>
    </body>
</html>