<!--footer icons link like facebook, twitter, instagram and X-->
<div class='contact'>
    <a class='con_icons'
        href='https://www.facebook.com/TajHotels/?sessionId=92f78244-cef5-47f6-9e48-a163a
    86ac008.c4155969-b831-41a0-bb34-a7507af835be&jarvisId=96f714e1-481c-4a2a-9b19-95ad58b52edc'
        target='_blank'>
        <i class="fa-brands fa-facebook-f"></i></a>
    <a class='con_icons'
        href='https://www.instagram.com/tajhotels/?hl=en&sessionId=92f78244-cef5-47f6-9e48-a16
    3a86ac008.c4155969-b831-41a0-bb34-a7507af835be&jarvisId=96f714e1-481c-4a2a-9b19-95ad58b52edc'
        target='_blank'>
        <i class="fa-brands fa-instagram"></i></a>
    <a class='con_icons'
        href='https://twitter.com/TajHotels?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5
    Eauthor&sessionId=92f78244-cef5-47f6-9e48-a163a86ac008.c4155969-b831-41a0-bb34-a7507af835be&jarvisId=96f714e1-
    481c-4a2a-9b19-95ad58b52edc' target='_blank'>
        <i class="fa-brands fa-x-twitter"></i></a>
    <a class='con_icons' href='https://www.youtube.com/user/TajMovies'
        target='_blank'>
        <i class="fa-brands fa-youtube"></i></a>
</div>
<!--
            <header>
                <h1>Animated Photo Banner</h1>
                            
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Fugiat amet totam, tenetur ipsam ab explicabo ad molestias quam? Sed perspiciatis repudiandae repellendus explicabo.
                Amet est blanditiis facilis laboriosam iste quisquam.
                </p>
            </header>
        -->
<!--
                     <div class = 'table'>
                    <div class = 'box box1'>
                        <img src = 'static\images\hall.webp' alt = 'marine drive'>
                    </div>
                    <div class = 'box box1'>
                        <h5>BEACH RETREATS</h5>
                        <p> Wake up to the sound of waves lapping lazily at the shore. Uncover serenity and marvel at the wealth of beauty 
                            within the glittering blue seas. Give in to the siren song of the sun, sand and surf with Beach Retreats.</p>
                    </div>
                    <div class = 'box box1'>
                        <img src ='static\images\fort.jpg'>
                    </div>
                    <div class = 'box box1'>
                        <h5>HILL STATIONS</h5>
                        <p>Gaze at the mist rolling in over the hill-tops from your luxurious villa. Marvel at glorious sunsets that will 
                            take your breath away from a private deck.</p>
                    </div>
                </div>
                <div  class = 'table'>
                    <div class = 'box box2'>
                        <h5>ROYAL INDIA</h5>
                        <p> Wander through the storied halls of a fairy tale palace, where 
                            dreams come to life. Retreat into your majestic suite, inspired by elegance.</p>
                    </div>
                    <div class = 'box box2'>
                        <img src = 'static\images\marine_drive.jpg' alt = 'marine drive'>
                    </div>
                    <div class = 'box box2'>
                        <h5> URBAN GETAWAYS</h5>
                        <p> There is magic to be found in the energy of a bustling city. Where vibrant markets offer you everything you could 
                            imagine and centuries of history hide in the most unassuming places. Discover the world's most spectacular urban hubs.</p>
          
                    </div>
                    <div class = 'box box2'>
                        <img src ='static\images\waterfall.jpg'></td>
                    </div>
                    
                </div>
            -->

<div class='horizontal'>
    <img src="static\images\Q.png" alt="Image missing" width=20% height=19%>
    <img src="static\images\T.jpeg" alt="Image missing" width=19% height=20%>
    <img src="static\images\P.jpg" alt="Image missing" width=20% height=19%>
    <img src="static\images\E.webp" alt="Image missing" width=19% height=20%>
    <img src="static\images\R.jpg" alt="Image missing" width=20%
        height=20%></div>
<br><br>
<!--using flex/inline technique of display-->

<div class='photobanner'>
    <div class='pics item1'>
        <img src="static\images\Q.png" alt="Image missing" width=270px
            height=140px> </div>
    <div class='pics item2'>
        <img src="static\images\T.jpeg" alt="Image missing" width=270px
            height=140px></div>
    <div class='pics item3'>
        <img src="static\images\P.jpg" alt="Image missing" width=270px
            height=140px></div>
    <div class='pics item4'>
        <img src="static\images\E.webp" alt="Image missing" width=270px
            height=140px></div>
    <div class='pics item5'>
        <img src="static\images\R.jpg" alt="Image missing" width=270px
            height=140px></div>

</div>

<br><br>
<div class='swiper'>
    <div>
        <button class='icon'><i class='fas fa-angle-double-left'></i></button>
    </div>
    <div class='banner'>
        <div class='imageban'> <img src="static\images\T.jpeg"
                alt="Image missing"> </div>
        <div class='imageban'> <img src="static\images\R.jpg"
                alt="Image missing"></div>
        <div class='imageban'> <img src="static\images\P.jpg"
                alt="Image missing"></div>
        <div class='imageban'> <img src="static\images\Q.png"
                alt="Image missing"></div>
        <div class='imageban'> <img src="static\images\E.webp"
                alt="Image missing"></div>
    </div>
    <div>
        <button class='icon'><i class='fas fa-angle-double-right'></i></button>
    </div>

</div>

<!--
            <hr style = "margin: 0;" noshade> 
            <div class = "image"></div>
            <div class = "content">
                <h1>Animated Photo Banner</h1>
                                
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Fugiat amet totam, tenetur ipsam ab explicabo ad molestias quam? Sed perspiciatis repudiandae repellendus explicabo.
                    Amet est blanditiis facilis laboriosam iste quisquam.
                </p>
            </div>
            <hr style ="margin: 0; height: 3px;" noshade>-->
<!--
            <div class = 'container0'>
                <div class = 'image-wrapper'>
                    <div class = 'slider'>
                        <img id = 'slide-1' src = 'static\images\slide-1.jpeg'>
                        <img id = 'slide-2' src = 'static\images\slide2.jpg'>
                        <img id = 'slide-3' src = 'static\images\slide3.jpg'>
                        <img id = 'slide-4' src = 'static\images\slide4.jpg'>
                    </div>
                    <div class = 'slider-nav'>
                        <a href = '#slide-1'></a>
                        <a href = '#slide-2'></a>
                        <a href = '#slide-3'></a>
                        <a href = '#slide-4'></a>
                    </div>
                </div>
            </div>-->