<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Razorpay Payment</title>
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    </head>
    <body>
        <button id="pay-btn">Make Payment</button>

        <script>
        document.getElementById("pay-btn").addEventListener("click", async () => {
            try {
                const response = await fetch("/create-payment", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ amount:"1400" }) // Fixed
                });

                const data = await response.json();
                var options = {
                    "key": data.key, // Enter the Key ID generated from the Dashboard
                    "amount": data.amount, // Amount is in currency subunits. Default currency is INR. Hence, 1400 refers to 1400 paise
                    "currency": "INR",
                    "name": "Merchant Name",
                    "description": "Test Transaction",
                    "image": "https://example.com/your_logo",
                    "order_id": data.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                    "handler": function (response){
                        alert(response.razorpay_payment_id);
                        alert(response.razorpay_order_id);
                        alert(response.razorpay_signature)
                    },
                    "prefill": {
                        "name": "Gaurav Kumar",
                        "email": "gaurav.kumar@example.com",
                        "contact": "9999999999"
                    },
                    "notes": {
                        "address": "Razorpay Corporate Office"
                    },
                    "theme": {
                        "color": "#3399cc"
                    }
                };
                var rzp1 = new Razorpay(options);
                rzp1.open();
            } catch (error) {
                console.error("Error:", error);
            }
        });
    </script>

    </body>
</html>
